
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mx-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
           <span>Vista de Inscriptos</span>
             <a href="/admin/main" class="mx-2">Inicio </a> 
        </a>
      </div>

       

      <div class="col-md-3 text-end">
    <a href="/admin/login/logout" class="btn btn-danger">Cerrar Sesion <i class="fa fa-sign-out-alt"></i></a>
      </div>
</header>


<div class="container" >
    <div class="row">
        <div class="col">
            <p class="text-end">
            <h5>Listado de Inscriptos</h5>
            <!--a href="/admin/inscriptos/agregarInscripto" class="btn btn-success" >Nuevo Inscripto <i class="fa fa-plus"></i></a-->
           
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarInscriptoModal">
 Agregar Inscripto <i class="fa fa-plus"></i>
</button>

            </p>
        </div>
    </div>
</div>

<div class="container my-3 w-60">
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Email</th>
                        <th scope="col">Tipo</th>
                         <th scope="col">Fecha de Inscripción</th>
                         <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each inscriptos}}
                    <tr>
                        <th scope="row">{{idInscripto}}</th>
                        <td>{{nombre}}</td>
                        <td>{{email}}</td>
                        <td>{{tipo}}</td>
                        <td>{{fecha}}</td>
                        <td>
                            <a href="/admin/inscriptos/modificar/{{idInscripto}}" class="btn btn-sm btn-secondary"><i class="fa fa-pencil"></i></a>
                            <a href="/admin/inscriptos/eliminar/{{idInscripto}}" class="btn btn-sm btn-secondary"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>



<!-- Modal Agregar Nuevo -->
<div class="modal fade" id="agregarInscriptoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar Inscripto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <section class="my-4 m-auto p-3">

                    <form method="POST" action="/admin/inscriptos/agregar">
                        <div class="form-group">
                            <input type="text" class="form-control" name="nameI" placeholder="Nombre">
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="emailI" placeholder="Email">
                        </div>

                        <div class="form-group mt-3">
                            <select id="ticket-type" name="typeI" class="form-select">
                                <option disabled selected>-- Seleccione el tipo de inscripcion --</option>
                                <option value="Participante">Participante</option>
                                <option value="Expositor">Expositor</option>
                                <option value="Organizador">Organizador</option>
                            </select>
                        </div>
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary">Inscribirse Ahora</button>
                            {{#if error}}
                            <p style="color: red;">{{error}}</p>
                            {{/if}}
                        </div>
                    </form>

                </section>
            </div>
        </div>
    </div>
</div>